

@media (prefers-reduced-motion: no-preference) {
  
  
}

body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

#button {
    font-size: 1rem;
}

#form {
    border-radius: 7px;
    background: #282C34;
    box-shadow:  -27px -27px 70px #181a1f,
                 27px 27px 70px #383e49;
}


#task {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#title {
    text-align: center;
    color: white;
    font-size: calc(30px + 1vw);
    font-weight: bold;
}