html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #f7f6ea;
}

#title {
    text-align: center;
    color: #191f5f;
    text-shadow:  1px 1px 2px #686f00;
}

ul > li > a {
    list-style: none;
}


