<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" ></link>
    <title>To-Do Backend</title>
    {% endblock %}
</head>
<body>
    {% block body %}  
    <h1>Welcome on To-do Server</h1>
    <form method="post">
        {{form.crsf_token}}
        <ul>
            <li>
                {{form.username.label}}
                {{form.username()}}
            </li>
            <li>
                {{form.email.label}}
                {{form.email()}}
            </li>
            <li>
                {{form.accept_rules.label}}
                {{form.accept_rules()}}
            </li>
        </ul>
        <input type="submit" value="Enregistrer">
    </form>
    {% endblock %}
</body>
<footer>
    {% block footer %}{% endblock %}
</footer>
</html>