{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block script %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}"/>
    {% endblock %}
    <title>profile</title>
</head>
<body>
    {% block body %}
    <h1 id="title">Bienvenue sur votre page de profile </h1>

    <div class="card">
      <div class="image"></div>
      <div class="card-info">
        <span>{{ user.username }}</span>
        <p>{{ user.email }}</p>
      </div>
      <a href="#" class="button">Modifier</a>
    </div>
    {% endblock %}
</body>
</html>